server:
  port: 8082

spring:
  application:
    name: video-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/streamgambia_video
      auto-index-creation: true
  servlet:
    multipart:
      max-file-size: 2GB
      max-request-size: 2GB

minio:
  url: http://localhost:9000
  access-key: minioadmin
  secret-key: minioadmin
  bucket-name: movies